<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head%>
        <link rel="stylesheet" href="stylesheets/home.css">
    </head>
    <body>
        <% include ../partials/navbar%>
        <div class="container core-section">
            <h3 class="header">Login As</h3>
            <div class="row content">
                <div class="col-8 b-r">
                    <div class="user-collection">
                        <!-- Insert the users here -->
                    </div>
                </div>
                <div class="col-4">
                    <div class="add-user-header">Add User</div>
                    <form class="add-user-form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="username" placeholder="Enter Name">
                        </div>
                        <button type="submit" class="btn btn-secondary">Add</button>
                    </form>
                </div>
            </div>
        </div>

        <% include ../partials/scripts%>
        <script src="javascripts/home.js"></script>
    </body>
</html>
