<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head%>
        <link rel="stylesheet" href="stylesheets/login.css">
    </head>
    <body>
        <% include ../partials/navbar%>
        <div class="container core-section">
            <h3 class="header">Login As</h3>
            <div class="row content">
                <div class="col-8 b-r">
                    <div class="user-collection">
                        <!-- Insert the users here -->
                    </div>
                </div>
            </div>
        </div>

        <% include ../partials/scripts%>
        <script src="javascripts/login.js"></script>
    </body>
</html>
