<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head%>
    <link rel="stylesheet" href="stylesheets/profile.css">
</head>
<body>
<% include ../partials/navbar%>

<div class="profile-wrapper">
    <div class="container">
        <div class="cover">
            <div class="profile-details-wrapper">
                <div class="profile-picture"></div>
                <div class="profile-name-wrapper">
                    <h2 class="profile-name"></h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container core-section profile-container">
    <h3 class="header"></h3>
    <div class="row content">
        <div class="col-8 b-r">
            <div class="skills-header-wrapper">
                <div class="skills-header">
                    What I'm good at
                </div>
                <div class="add-skill only-user">
                    <button type="button" class="btn add-skill-btn btn-outline-primary btn-sm">
                        + Add skill
                    </button>
                </div>
            </div>
            <form class="add-skill-form only-user">
                <div class="form-group">
                    <label for="skill">Skill Name</label>
                    <input type="text" class="form-control" id="skill" placeholder="Enter Skill Name" aria-describedby="skillHelp">
                    <small id="skillHelp" class="form-text text-muted"></small>
                </div>
                <button type="submit" class="btn btn-secondary">Add</button>
            </form>
            <div class="skills-wrapper">
                <div class="skills-full-width">
                </div>
                <div class="skills-short-width">
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="skills-header">Friends</div>
            <div class="user-collection">
            </div>
        </div>
    </div>
</div>

<% include ../partials/scripts%>
<script src="javascripts/profile.js"></script>
</body>
</html>
