<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head%>
</head>
<body>
<% include ../partials/navbar%>
<div class="container profile-section">
    <div class="row">
        <div class="col-8 b-r">

        </div>
    </div>
</div>

<% include ../partials/scripts%>
<script src="javascripts/profile.js"></script>
</body>
</html>
