.login-section{
    height: calc(100% - 56px);
    display: flex;
    flex-direction: column;
}
.login-section .content{
    flex: 1;
}
.header{
    padding: 0.8em 0;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
}