body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    position: relative;
}

.b-r{
    border-right: 1px solid rgba(0,0,0,.1);
}
.user-collection .user{
    display: flex;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid rgba(0,0,0,.1);
    color: #333;
    text-decoration: none;
}
.user-collection .user:hover{
    color: #0056b3;
}
.user-collection .user .user-image{
    width: 3.2em;
    height: 3.2em;
    margin-right: 1em;
    background-color: #1f88be;
    border-radius: 50%;
}
.user-collection .user .user-name {
    font-weight: 600;
}

.core-section{
    height: calc(100% - 56px);
    display: flex;
    flex-direction: column;
}
.core-section .content{
    flex: 1;
}
.header{
    padding: 0.8em 0;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
}